body{
    background: #f3efef;
}
nav{
    background: #ffffff;
    padding: 0px;
    margin: 0px;
    display: flex;
    border-radius: 15px;

}
nav img{
    height: 50px;
    width:80px;
    border-radius: 100%;
    margin-left:8px;
    margin-top: 4px;
    margin-bottom: 4px;
}
nav ul {
    margin-left: 10px;
    display: flex;
    gap: 25px;
    
}
nav ul li{
    display: flex;
}

.my{
    background: #ffffff;
    height: 500px;
    border-radius: 15px;
    
  
}
.my h2{
    padding-top: 70px;
    text-align: center;
    color: rgb(13, 187, 15) ;
    font-size: 30px;

}
button{
    justify-content: center;
    background-color: rgb(0, 255, 247);
    border-color: rgb(0, 255, 247);
    border-radius: 20px;
    margin-left: 720px;
    padding: 10px;
    width: 80px;
    font-size: 17px;
    margin-top: 50px;
}
.my p{
    text-align: center;
    font-size: 20px;
    margin-top: 60px;
}
footer{
    background: #222a42;
    color: white;
    height: 100px;
    padding: 4px;
    margin-top: 30px;
    text-align: center;
    border-radius: 15px;
}
input:focus,
button:focus {
    outline: none;                 /* remove default outline */
    border: 2px solid #2bbfff;     /* blue border */
    box-shadow: 0 0 6px #2bbfff;   /* glow effect */
}